[class^="icon-"],[class*=" icon-"]{
    font-family:'icomoon' !important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-dslr:before{
    content:"\e908"
}
.icon-facebook-logo:before{
    content:"\e906"
}
.icon-linkedin-sign:before{
    content:"\e907"
}
.icon-business-man:before{
    content:"\e905"
}
.icon-crawling-baby-silhouette:before{
    content:"\e904"
}
.icon-softtware-engineer:before{
    content:"\e903"
}
.icon-html-tag:before{
    content:"\e902"
}
.icon-camera:before{
    content:"\e900"
}
.icon-design:before{
    content:"\e901"
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:0.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace, monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-size:10px;
    -webkit-tap-highlight-color:transparent
}
body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#333333;
    background-color:#ffffff
}
input,button,select,textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
a{
    color:#337ab7;
    text-decoration:none
}
a:hover,a:focus{
    color:#23527c;
    text-decoration:underline
}
a:focus{
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
figure{
    margin:0
}
img{
    vertical-align:middle
}
.img-responsive{
    display:block;
    max-width:100%;
    height:auto
}
.img-rounded{
    border-radius:6px
}
.img-thumbnail{
    padding:4px;
    line-height:1.42857143;
    background-color:#ffffff;
    border:1px solid #dddddd;
    border-radius:4px;
    -webkit-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    display:inline-block;
    max-width:100%;
    height:auto
}
.img-circle{
    border-radius:50%
}
hr{
    margin-top:20px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid #eeeeee
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto
}
[role="button"]{
    cursor:pointer
}
.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
@media (min-width: 768px){
    .container{
        width:750px
    }
}
@media (min-width: 992px){
    .container{
        width:970px
    }
}
@media (min-width: 1200px){
    .container{
        width:1170px
    }
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.row{
    margin-left:-15px;
    margin-right:-15px
}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
    float:left
}
.col-xs-12{
    width:100%
}
.col-xs-11{
    width:91.66666667%
}
.col-xs-10{
    width:83.33333333%
}
.col-xs-9{
    width:75%
}
.col-xs-8{
    width:66.66666667%
}
.col-xs-7{
    width:58.33333333%
}
.col-xs-6{
    width:50%
}
.col-xs-5{
    width:41.66666667%
}
.col-xs-4{
    width:33.33333333%
}
.col-xs-3{
    width:25%
}
.col-xs-2{
    width:16.66666667%
}
.col-xs-1{
    width:8.33333333%
}
.col-xs-pull-12{
    right:100%
}
.col-xs-pull-11{
    right:91.66666667%
}
.col-xs-pull-10{
    right:83.33333333%
}
.col-xs-pull-9{
    right:75%
}
.col-xs-pull-8{
    right:66.66666667%
}
.col-xs-pull-7{
    right:58.33333333%
}
.col-xs-pull-6{
    right:50%
}
.col-xs-pull-5{
    right:41.66666667%
}
.col-xs-pull-4{
    right:33.33333333%
}
.col-xs-pull-3{
    right:25%
}
.col-xs-pull-2{
    right:16.66666667%
}
.col-xs-pull-1{
    right:8.33333333%
}
.col-xs-pull-0{
    right:auto
}
.col-xs-push-12{
    left:100%
}
.col-xs-push-11{
    left:91.66666667%
}
.col-xs-push-10{
    left:83.33333333%
}
.col-xs-push-9{
    left:75%
}
.col-xs-push-8{
    left:66.66666667%
}
.col-xs-push-7{
    left:58.33333333%
}
.col-xs-push-6{
    left:50%
}
.col-xs-push-5{
    left:41.66666667%
}
.col-xs-push-4{
    left:33.33333333%
}
.col-xs-push-3{
    left:25%
}
.col-xs-push-2{
    left:16.66666667%
}
.col-xs-push-1{
    left:8.33333333%
}
.col-xs-push-0{
    left:auto
}
.col-xs-offset-12{
    margin-left:100%
}
.col-xs-offset-11{
    margin-left:91.66666667%
}
.col-xs-offset-10{
    margin-left:83.33333333%
}
.col-xs-offset-9{
    margin-left:75%
}
.col-xs-offset-8{
    margin-left:66.66666667%
}
.col-xs-offset-7{
    margin-left:58.33333333%
}
.col-xs-offset-6{
    margin-left:50%
}
.col-xs-offset-5{
    margin-left:41.66666667%
}
.col-xs-offset-4{
    margin-left:33.33333333%
}
.col-xs-offset-3{
    margin-left:25%
}
.col-xs-offset-2{
    margin-left:16.66666667%
}
.col-xs-offset-1{
    margin-left:8.33333333%
}
.col-xs-offset-0{
    margin-left:0%
}
@media (min-width: 768px){
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        float:left
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.66666667%
    }
    .col-sm-10{
        width:83.33333333%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.66666667%
    }
    .col-sm-7{
        width:58.33333333%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.66666667%
    }
    .col-sm-4{
        width:33.33333333%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.66666667%
    }
    .col-sm-1{
        width:8.33333333%
    }
    .col-sm-pull-12{
        right:100%
    }
    .col-sm-pull-11{
        right:91.66666667%
    }
    .col-sm-pull-10{
        right:83.33333333%
    }
    .col-sm-pull-9{
        right:75%
    }
    .col-sm-pull-8{
        right:66.66666667%
    }
    .col-sm-pull-7{
        right:58.33333333%
    }
    .col-sm-pull-6{
        right:50%
    }
    .col-sm-pull-5{
        right:41.66666667%
    }
    .col-sm-pull-4{
        right:33.33333333%
    }
    .col-sm-pull-3{
        right:25%
    }
    .col-sm-pull-2{
        right:16.66666667%
    }
    .col-sm-pull-1{
        right:8.33333333%
    }
    .col-sm-pull-0{
        right:auto
    }
    .col-sm-push-12{
        left:100%
    }
    .col-sm-push-11{
        left:91.66666667%
    }
    .col-sm-push-10{
        left:83.33333333%
    }
    .col-sm-push-9{
        left:75%
    }
    .col-sm-push-8{
        left:66.66666667%
    }
    .col-sm-push-7{
        left:58.33333333%
    }
    .col-sm-push-6{
        left:50%
    }
    .col-sm-push-5{
        left:41.66666667%
    }
    .col-sm-push-4{
        left:33.33333333%
    }
    .col-sm-push-3{
        left:25%
    }
    .col-sm-push-2{
        left:16.66666667%
    }
    .col-sm-push-1{
        left:8.33333333%
    }
    .col-sm-push-0{
        left:auto
    }
    .col-sm-offset-12{
        margin-left:100%
    }
    .col-sm-offset-11{
        margin-left:91.66666667%
    }
    .col-sm-offset-10{
        margin-left:83.33333333%
    }
    .col-sm-offset-9{
        margin-left:75%
    }
    .col-sm-offset-8{
        margin-left:66.66666667%
    }
    .col-sm-offset-7{
        margin-left:58.33333333%
    }
    .col-sm-offset-6{
        margin-left:50%
    }
    .col-sm-offset-5{
        margin-left:41.66666667%
    }
    .col-sm-offset-4{
        margin-left:33.33333333%
    }
    .col-sm-offset-3{
        margin-left:25%
    }
    .col-sm-offset-2{
        margin-left:16.66666667%
    }
    .col-sm-offset-1{
        margin-left:8.33333333%
    }
    .col-sm-offset-0{
        margin-left:0%
    }
}
@media (min-width: 992px){
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
        float:left
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.66666667%
    }
    .col-md-10{
        width:83.33333333%
    }
    .col-md-9{
        width:75%
    }
    .col-md-8{
        width:66.66666667%
    }
    .col-md-7{
        width:58.33333333%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.66666667%
    }
    .col-md-4{
        width:33.33333333%
    }
    .col-md-3{
        width:25%
    }
    .col-md-2{
        width:16.66666667%
    }
    .col-md-1{
        width:8.33333333%
    }
    .col-md-pull-12{
        right:100%
    }
    .col-md-pull-11{
        right:91.66666667%
    }
    .col-md-pull-10{
        right:83.33333333%
    }
    .col-md-pull-9{
        right:75%
    }
    .col-md-pull-8{
        right:66.66666667%
    }
    .col-md-pull-7{
        right:58.33333333%
    }
    .col-md-pull-6{
        right:50%
    }
    .col-md-pull-5{
        right:41.66666667%
    }
    .col-md-pull-4{
        right:33.33333333%
    }
    .col-md-pull-3{
        right:25%
    }
    .col-md-pull-2{
        right:16.66666667%
    }
    .col-md-pull-1{
        right:8.33333333%
    }
    .col-md-pull-0{
        right:auto
    }
    .col-md-push-12{
        left:100%
    }
    .col-md-push-11{
        left:91.66666667%
    }
    .col-md-push-10{
        left:83.33333333%
    }
    .col-md-push-9{
        left:75%
    }
    .col-md-push-8{
        left:66.66666667%
    }
    .col-md-push-7{
        left:58.33333333%
    }
    .col-md-push-6{
        left:50%
    }
    .col-md-push-5{
        left:41.66666667%
    }
    .col-md-push-4{
        left:33.33333333%
    }
    .col-md-push-3{
        left:25%
    }
    .col-md-push-2{
        left:16.66666667%
    }
    .col-md-push-1{
        left:8.33333333%
    }
    .col-md-push-0{
        left:auto
    }
    .col-md-offset-12{
        margin-left:100%
    }
    .col-md-offset-11{
        margin-left:91.66666667%
    }
    .col-md-offset-10{
        margin-left:83.33333333%
    }
    .col-md-offset-9{
        margin-left:75%
    }
    .col-md-offset-8{
        margin-left:66.66666667%
    }
    .col-md-offset-7{
        margin-left:58.33333333%
    }
    .col-md-offset-6{
        margin-left:50%
    }
    .col-md-offset-5{
        margin-left:41.66666667%
    }
    .col-md-offset-4{
        margin-left:33.33333333%
    }
    .col-md-offset-3{
        margin-left:25%
    }
    .col-md-offset-2{
        margin-left:16.66666667%
    }
    .col-md-offset-1{
        margin-left:8.33333333%
    }
    .col-md-offset-0{
        margin-left:0%
    }
}
@media (min-width: 1200px){
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float:left
    }
    .col-lg-12{
        width:100%
    }
    .col-lg-11{
        width:91.66666667%
    }
    .col-lg-10{
        width:83.33333333%
    }
    .col-lg-9{
        width:75%
    }
    .col-lg-8{
        width:66.66666667%
    }
    .col-lg-7{
        width:58.33333333%
    }
    .col-lg-6{
        width:50%
    }
    .col-lg-5{
        width:41.66666667%
    }
    .col-lg-4{
        width:33.33333333%
    }
    .col-lg-3{
        width:25%
    }
    .col-lg-2{
        width:16.66666667%
    }
    .col-lg-1{
        width:8.33333333%
    }
    .col-lg-pull-12{
        right:100%
    }
    .col-lg-pull-11{
        right:91.66666667%
    }
    .col-lg-pull-10{
        right:83.33333333%
    }
    .col-lg-pull-9{
        right:75%
    }
    .col-lg-pull-8{
        right:66.66666667%
    }
    .col-lg-pull-7{
        right:58.33333333%
    }
    .col-lg-pull-6{
        right:50%
    }
    .col-lg-pull-5{
        right:41.66666667%
    }
    .col-lg-pull-4{
        right:33.33333333%
    }
    .col-lg-pull-3{
        right:25%
    }
    .col-lg-pull-2{
        right:16.66666667%
    }
    .col-lg-pull-1{
        right:8.33333333%
    }
    .col-lg-pull-0{
        right:auto
    }
    .col-lg-push-12{
        left:100%
    }
    .col-lg-push-11{
        left:91.66666667%
    }
    .col-lg-push-10{
        left:83.33333333%
    }
    .col-lg-push-9{
        left:75%
    }
    .col-lg-push-8{
        left:66.66666667%
    }
    .col-lg-push-7{
        left:58.33333333%
    }
    .col-lg-push-6{
        left:50%
    }
    .col-lg-push-5{
        left:41.66666667%
    }
    .col-lg-push-4{
        left:33.33333333%
    }
    .col-lg-push-3{
        left:25%
    }
    .col-lg-push-2{
        left:16.66666667%
    }
    .col-lg-push-1{
        left:8.33333333%
    }
    .col-lg-push-0{
        left:auto
    }
    .col-lg-offset-12{
        margin-left:100%
    }
    .col-lg-offset-11{
        margin-left:91.66666667%
    }
    .col-lg-offset-10{
        margin-left:83.33333333%
    }
    .col-lg-offset-9{
        margin-left:75%
    }
    .col-lg-offset-8{
        margin-left:66.66666667%
    }
    .col-lg-offset-7{
        margin-left:58.33333333%
    }
    .col-lg-offset-6{
        margin-left:50%
    }
    .col-lg-offset-5{
        margin-left:41.66666667%
    }
    .col-lg-offset-4{
        margin-left:33.33333333%
    }
    .col-lg-offset-3{
        margin-left:25%
    }
    .col-lg-offset-2{
        margin-left:16.66666667%
    }
    .col-lg-offset-1{
        margin-left:8.33333333%
    }
    .col-lg-offset-0{
        margin-left:0%
    }
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{
    content:" ";
    display:table
}
.clearfix:after,.container:after,.container-fluid:after,.row:after{
    clear:both
}
.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.pull-right{
    float:right !important
}
.pull-left{
    float:left !important
}
.hide{
    display:none !important
}
.show{
    display:block !important
}
.invisible{
    visibility:hidden
}
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0
}
.hidden{
    display:none !important
}
.affix{
    position:fixed
}
.top-nav{
    min-height:50px;
    float:left
}
.top-nav .logo{
    padding-top:7px;
    float:left
}
.top-nav .logo a{
    display:block
}
.top-nav .logo img{
    width:150px
}
.social-links{
    float:right
}
.social-links a{
    padding-top:7px;
    display:block;
    font-size:25px;
    color:#757575
}
.social-links a:hover{
    text-decoration:none;
    color:#5c5c5c
}
@font-face{
    font-family:'Europa-Light';
    src:url("../fonts/Europa-Light.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Europa-Bold';
    src:url("../fonts/Europa-Regular.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'heading';
    src:url("../fonts/EurostileRegular.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'icomoon';
    src:url("../fonts/icomoon.woff") format("woff");
    font-weight:normal;
    font-style:normal
}
.m-auto{
    float:none;
    margin:0 auto
}
.w-100{
    width:100%
}
.no-margin{
    margin:0 !important
}
.no-padding{
    padding:0 !important
}
.text-center{
    text-align:center
}
.round-img{
    border-radius:50%
}
.brand-color{
    color:#48b7ad
}
.brand-bg-color{
    background:#48b7ad
}
.list-unstyled{
    list-style:none;
    margin:0;
    padding:0
}
.list-inline{
    padding-left:0;
    list-style:none;
    margin-left:-5px
}
.list-inline>li{
    display:inline-block;
    padding-left:5px;
    padding-right:5px
}
.hidden{
    display:none
}
.show{
    display:block
}
.no-scroll{
    overflow:hidden
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#f8f8f8;
    background-color:#f8f8f8;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23d4d4d4' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23c7c7c7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E")
}
.hero-header h1{
    margin-bottom:0
}
.hero-header p{
    margin:5px 0 0 0;
    font-size:18px
}
a{
    webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease
}
.heading{
    font-family:"heading";
    color:#484848
}
.heading.heading-xl{
    font-size:40px;
    margin:50px 50px
}
.avatar{
    margin-top:50px
}
.avatar img{
    width:150px;
    display:block;
    margin:0 auto
}
.yumna img{
    display:block;
    margin:40px auto 0 auto;
    max-width:100%
}
.about-me{
    position:relative;
    background:#48b7ad;
    color:#fff
}
.about-me .intro{
    padding:50px 50px 150px 50px;
    font-size:22px;
    position:relative;
    z-index:9
}
.about-me .intro .intro--heading{
    font-family:"heading"
}
.about-me .intro p{
    margin:20px 20px;
    font-size:18px
}
.about-me .intro .resume a{
    display:inline-block;
    padding:15px 20px;
    border:1px solid #fff;
    color:#fff;
    font-weight:600
}
.about-me .intro .resume a:hover{
    background:#fff;
    color:#48b7ad;
    text-decoration:none
}
.about-me.good-evening .resume a:hover{
    background:#48b7ad;
    border-color:transparent;
    color:#fff
}
.about-me.good-morning{
    background:#f9fbe4 url(https://tympanus.net/Tutorials/jQuerySceneryAnimation/images/ground.png) repeat-x center bottom
}
.about-me.good-morning .intro p,.about-me.good-morning .intro .intro--heading,.about-me.good-morning .intro a{
    color:#000
}
.about-me.good-morning .intro .resume a{
    border-color:#000
}
.about-me.good-morning .intro .resume a:hover{
    border-color:transparent
}
.twinkle-stars .stars,.twinkle-stars .twinkling{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block
}
.twinkle-stars .stars{
    background:#000 url(../images/stars.png) repeat top center;
    z-index:0
}
.twinkle-stars .twinkling{
    background:transparent url(../images/twinkling.png) repeat top center;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite
}
@keyframes move-twink-back{
    from{
        background-position:0 0
    }
    to{
        background-position:-10000px 5000px
    }
}
@-webkit-keyframes move-twink-back{
    from{
        background-position:0 0
    }
    to{
        background-position:-10000px 5000px
    }
}
@-moz-keyframes move-twink-back{
    from{
        background-position:0 0
    }
    to{
        background-position:-10000px 5000px
    }
}
@-ms-keyframes move-twink-back{
    from{
        background-position:0 0
    }
    to{
        background-position:-10000px 5000px
    }
}
.sun-anim{
    position:absolute;
    width:185px;
    height:185px;
    top:5%;
    left:10%
}
.sun-anim .sun{
    background:transparent url(../images/sun.png) no-repeat;
    width:130px;
    height:130px;
    background-size:100%;
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite
}
@-moz-keyframes spin{
    100%{
        -moz-transform:rotate(360deg)
    }
}
@-webkit-keyframes spin{
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.expertise{
    margin-top:-100px;
    position:relative
}
.expertise .expertise-row>[class*="col-"]{
    padding-left:10px;
    padding-right:10px
}
.expertise .expertise-col{
    background:#fff;
    text-align:center;
    border-radius:10px 10px 0 0;
    min-height:570px
}
.expertise .expertise-domain{
    text-align:center;
    padding:30px 30px 0 30px
}
.expertise .expertise-domain .expertise-icon span{
    display:block
}
.expertise .expertise-domain .expertise-icon>[class*="icon-"]{
    font-size:50px;
    margin-bottom:30px;
    color:#48b7ad;
}
.expertise .expertise-domain .expertise-icon .expertise-title{
    font-family:"heading";
    font-size:30px;
    font-weight:bold
}
.expertise .about-expertise{
    padding:5px 30px
}
.expertise .about-expertise p{
    margin:0
}
.expertise .about-expertise ul{
    margin-top:30px
}
.expertise .about-expertise ul li.list-head{
    color:#48b7ad;
    font-size:18px;
    margin-bottom:5px
}
.expertise .about-expertise ul li{
    margin-bottom:15px
}
.expertise .about-expertise ul li ul li{
    margin-bottom:5px
}
.footer-text{
    margin:100px 0 10px 0;
    font-weight:600;
    color:#696969;
    letter-spacing:1px
}
@media only screen and (min-width: 1170px){
    .cd-is-hidden{
        visibility:hidden
    }
}
.cd-timeline{
    overflow:hidden;
    margin:2em auto
}
.cd-timeline__container{
    position:relative;
    width:90%;
    max-width:1170px;
    margin:0 auto;
    padding:2em 10px
}
.cd-timeline__container::before{
    content:'';
    position:absolute;
    top:0;
    left:30px;
    height:100%;
    width:4px;
    background:#d7e4ed
}
@media only screen and (min-width: 1170px){
    .cd-timeline{
        margin-top:3em;
        margin-bottom:3em
    }
    .cd-timeline__container::before{
        left:50%;
        margin-left:-2px
    }
}
.cd-timeline__block{
    position:relative;
    margin:2em 0
}
.cd-timeline__block:after{
    content:"";
    display:table;
    clear:both
}
.cd-timeline__block:first-child{
    margin-top:0
}
.cd-timeline__block:last-child{
    margin-bottom:0
}
@media only screen and (min-width: 1170px){
    .cd-timeline__block{
        margin:4em 0
    }
}
.cd-timeline__img{
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-box-shadow:0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,0.08),0 3px 0 4px rgba(0,0,0,0.05);
    box-shadow:0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,0.08),0 3px 0 4px rgba(0,0,0,0.05);
    text-align:center
}
.cd-timeline__img>span{
    display:block;
    line-height:40px;
    color:#fff;
    font-size:25px
}
.cd-timeline__img img{
    display:block;
    width:24px;
    height:24px;
    position:relative;
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-12px
}
.cd-timeline__img.cd-timeline__img--blue{
    background:#2572BE
}
.cd-timeline__img.cd-timeline__img--orange{
    background:#FB6A28
}
.cd-timeline__img.cd-timeline__img--musturd{
    background:#F9CC35
}
.cd-timeline__img.cd-timeline__img--green{
    background:#7CD503
}
.cd-timeline__img.cd-timeline__img--pink{
    background:#EA4C7D
}
@media only screen and (min-width: 1170px){
    .cd-timeline__img{
        width:60px;
        height:60px;
        left:50%;
        margin-left:-30px;
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
        text-align:center
    }
    .cd-timeline__img>span{
        display:block;
        line-height:60px;
        color:#fff;
        font-size:30px
    }
    .cd-timeline__img.cd-timeline__img--bounce-in{
        visibility:visible;
        -webkit-animation:cd-bounce-1 .6s;
        animation:cd-bounce-1 0.6s
    }
}
@-webkit-keyframes cd-bounce-1{
    0%{
        opacity:0;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    60%{
        opacity:1;
        -webkit-transform:scale(1.2);
        transform:scale(1.2)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes cd-bounce-1{
    0%{
        opacity:0;
        -webkit-transform:scale(0.5);
        transform:scale(0.5)
    }
    60%{
        opacity:1;
        -webkit-transform:scale(1.2);
        transform:scale(1.2)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.cd-timeline__content{
    position:relative;
    margin-left:60px;
    background:#fff;
    border-radius:.25em;
    padding:1em;
    -webkit-box-shadow:0 3px 0 #d7e4ed;
    box-shadow:0 3px 0 #d7e4ed
}
.cd-timeline__content:after{
    content:"";
    display:table;
    clear:both
}
.cd-timeline__content::before{
    content:'';
    position:absolute;
    top:16px;
    right:100%;
    height:0;
    width:0;
    border:7px solid transparent;
    border-right:7px solid #fff
}
.cd-timeline__content h2{
    color:#303e49
}
.cd-timeline__content p,.cd-timeline__read-more,.cd-timeline__date{
    font-size:1.3rem
}
.cd-timeline__content p{
    margin:1em 0;
    line-height:1.6
}
.cd-timeline__read-more,.cd-timeline__date{
    display:inline-block
}
.cd-timeline__read-more{
    float:right;
    padding:.8em 1em;
    background:#acb7c0;
    color:#fff;
    border-radius:0.25em
}
.cd-timeline__read-more:hover{
    background-color:#bac4cb
}
.cd-timeline__date{
    float:left;
    padding:.8em 0;
    opacity:0.7
}
@media only screen and (min-width: 768px){
    .cd-timeline__content h2{
        font-size:2rem
    }
    .cd-timeline__content p{
        font-size:1.6rem
    }
    .cd-timeline__read-more,.cd-timeline__date{
        font-size:1.4rem
    }
}
@media only screen and (min-width: 1170px){
    .cd-timeline__content{
        margin-left:0;
        padding:1.6em;
        width:45%;
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    .cd-timeline__content::before{
        top:24px;
        left:100%;
        border-color:transparent;
        border-left-color:#fff
    }
    .cd-timeline__read-more{
        float:left
    }
    .cd-timeline__date{
        position:absolute;
        width:100%;
        left:122%;
        top:6px;
        font-size:1.6rem;
        font-family:'Europa-Bold'
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content{
        float:right
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content::before{
        top:24px;
        left:auto;
        right:100%;
        border-color:transparent;
        border-right-color:#fff
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__read-more{
        float:right
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date{
        left:auto;
        right:122%;
        text-align:right
    }
    .cd-timeline__content.cd-timeline__content--bounce-in{
        visibility:visible;
        -webkit-animation:cd-bounce-2 .6s;
        animation:cd-bounce-2 0.6s
    }
}
@media only screen and (min-width: 1170px){
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in{
        -webkit-animation:cd-bounce-2-inverse .6s;
        animation:cd-bounce-2-inverse 0.6s
    }
}
@-webkit-keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px);
        transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes cd-bounce-2{
    0%{
        opacity:0;
        -webkit-transform:translateX(-100px);
        transform:translateX(-100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(20px);
        transform:translateX(20px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@-webkit-keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -webkit-transform:translateX(100px);
        transform:translateX(100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(-20px);
        transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes cd-bounce-2-inverse{
    0%{
        opacity:0;
        -webkit-transform:translateX(100px);
        transform:translateX(100px)
    }
    60%{
        opacity:1;
        -webkit-transform:translateX(-20px);
        transform:translateX(-20px)
    }
    100%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
.portfolio-wrapper ul li{
    height:200px;
    margin-bottom:10px
}
.portfolio-wrapper ul li a{
    display:block;
    height:inherit;
    text-align:center;
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
    background:#48b7ad;
    color:#fff;
    letter-spacing:2px;
    line-height:8
}
.portfolio-wrapper ul li a:hover{
    text-decoration:none;
    background:#51cfc5;
}
.portfolio-wrapper ul li a:hover:after{
    opacity:1;
    transform:scale(1)
}
.portfolio-wrapper ul li a.bnw{
    background:#dad9d9;
    color:#adadad
}
.portfolio-wrapper ul li a:after{
    content:'';
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
    border:1px solid white;
    height:90%;
    transform:scale(0.7);
    opacity:0;
    webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out
}
.folio-imgs{
    height:500px;
    overflow-y:scroll
}
.folio-imgs>img{
    display:block;
    margin-bottom:10px;
    border:2px solid #928989
}
.folio-modal .modal-title{
    font-size:20px;
    letter-spacing:2px;
    text-transform:uppercase
}
.folio-modal .folio-res h2{
    text-transform:capitalize;
    font-size:18px
}
.folio-modal .folio-res p{
    border-bottom:1px solid #e2e1e1;
    padding-bottom:5px
}
a.effect-box:hover:after,a.effect-box:hover:before{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
}
a.effect-shine:hover{
    -webkit-mask-image:linear-gradient(-75deg, rgba(0,0,0,0.6) 30%, #000 50%, rgba(0,0,0,0.6) 70%);
    -webkit-mask-size:200%;
    animation:shine 2s infinite
}
@-webkit-keyframes shine{
    from{
        -webkit-mask-position:150%
    }
    to{
        -webkit-mask-position:-50%
    }
}
.close{
    float:right;
    font-size:21px;
    font-weight:700;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    filter:alpha(opacity=20);
    opacity:0.2
}
.close:focus,.close:hover{
    color:#000;
    text-decoration:none;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:0.5
}
button.close{
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
    background:0 0;
    border:0
}
.modal-open{
    overflow:hidden
}
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0
}
.modal.fade .modal-dialog{
    -webkit-transition:-webkit-transform .3s ease-out;
    -o-transition:-o-transform .3s ease-out;
    transition:transform .3s ease-out;
    -webkit-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%)
}
.fade-scale{
    transform:scale(0);
    opacity:0;
    -webkit-transition:all .25s linear;
    -o-transition:all .25s linear;
    transition:all .25s linear
}
.fade-scale.in{
    opacity:1;
    transform:scale(1)
}
.modal.in .modal-dialog{
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}
.modal-open .modal{
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog{
    position:relative;
    width:auto;
    margin:10px
}
.modal-content{
    position:relative;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:6px;
    outline:0;
    -webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
    box-shadow:0 3px 9px rgba(0,0,0,0.5)
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal-backdrop.fade{
    filter:alpha(opacity=0);
    opacity:0
}
.modal-backdrop.in{
    filter:alpha(opacity=50);
    opacity:0.5
}
.modal-header{
    padding:15px;
    border-bottom:1px solid #e5e5e5
}
.modal-header .close{
    margin-top:-2px
}
.modal-title{
    margin:0;
    line-height:1.42857143
}
.modal-body{
    position:relative;
    padding:15px
}
.modal-footer{
    padding:15px;
    text-align:right;
    border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn{
    margin-bottom:0;
    margin-left:5px
}
.modal-footer .btn-group .btn+.btn{
    margin-left:-1px
}
.modal-footer .btn-block+.btn-block{
    margin-left:0
}
.modal-scrollbar-measure{
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll
}
@media (min-width: 768px){
    .modal-dialog{
        width:600px;
        margin:30px auto
    }
    .modal-content{
        -webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);
        box-shadow:0 5px 15px rgba(0,0,0,0.5)
    }
    .modal-sm{
        width:300px
    }
}
@media (min-width: 992px){
    .modal-lg{
        width:900px
    }
}
.intro-wrapper{
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background:#fff;
    z-index:99
}
.loading-logo{
    text-align:center;
    top:40%;
    position:relative
}
.loading-logo>span{
    display:inline-block;
    text-transform:uppercase;
    background:#48b7ad;
    width:50px;
    height:50px;
    text-align:center;
    padding-top:10px;
    font-size:25px;
    font-weight:700;
    font-family:"heading";
    color:#fff;
    animation:flickerAnimation 2s infinite
}
.loading-logo .hello>span{
    position:absolute;
    font-size:32px;
    width:100%;
    text-align:center;
    top:80px;
    left:0;
    color:#ccc
}
@keyframes flickerAnimation{
    0%{
        opacity:1
    }
    50%{
        opacity:0.5
    }
    100%{
        opacity:1
    }
}
@media (max-width: 768px){
    .heading.heading-xl{
        font-size:30px
    }
    .expertise .expertise-domain{
        padding:30px 15px 0 15px
    }
    .expertise .expertise-domain .expertise-icon .expertise-title{
        font-size:20px
    }
    .cd-timeline__container{
        width:95%
    }
    .portfolio-wrapper ul li a{
        line-height:11;
        font-size:20px
    }
}
@media (max-width: 767px){
    .about-me.good-morning{
        background-image:none;
        background-color:#48b7ad;
    }
    .about-me.good-morning .intro .intro--heading,.about-me.good-morning .intro p,.about-me.good-morning .intro a{
        color:#fff
    }
    .about-me.good-morning .intro .resume a{
        border-color:#fff
    }
    .sun-anim{
        display:none
    }
}
@media (max-width: 600px){
    .heading.heading-xl{
        font-size:23px;
        margin:25px 25px
    }
    .about-me .intro{
        font-size:20px;
        padding:50px 5px 50px 5px;
        text-align:left
    }
    .about-me .intro p{
        font-size:16px;
        margin:0
    }
    .about-me .intro .resume a{
        display:block;
        text-align:center;
        margin-top:15px
    }
    .expertise{
        margin-top:0
    }
    .expertise .expertise-row{
        margin-top:10px
    }
    .expertise .expertise-row>[class*="col-"]{
        margin-bottom:10px
    }
    .expertise .expertise-col{
        min-height:auto;
        border-radius:0;
        border:1px solid #eaeaea
    }
    .expertise .expertise-domain .expertise-icon>[class*="icon-"]{
        margin-bottom:10px
    }
    .cd-timeline__content h2{
        font-size:18px;
        margin:0
    }
    .cd-timeline__date{
        padding:0;
        float:right
    }
}
@media (max-width: 380px){
    .about-me .intro .intro--heading{
        font-size:18px
    }
    .about-me .intro p{
        margin-top:5px;
        font-size:14px
    }
    .cd-timeline__content p,.cd-timeline__read-more,.cd-timeline__date{
        font-size:14px
    }
}
